pre, tt, code {
    font-family: 'Inconsolata',
                 'Consolas',
                 'Menlo',
                 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono',
                 monospace;
}

img.logo {
    width: 130px;
    padding-bottom: 2em;
}
